body{
 background-image: url("images/1155052.webp");
 font-family : 'Trebuchet MS';
 text-align: center;
 background-size: cover;
 font-size: 50px;
 color: aliceblue;
}
h1{
    color: goldenrod;
    font-size: 100px;
}