button {
    border: 0cap;
    padding-top: 10px;
    padding-bottom: 10px;
    color:aliceblue;
    font-weight: bold;
    width: 200px;
    margin-bottom: 5px;
    border-radius: 5px;
}
#increment-btn {
    background-color: brown;
}
#save-btn{
    background-color: green;
}
h2 {
    font-size: large;
}
#count-el{
    font-size: 50px;
}